@model WebApp.Areas.Admin.Models.ChangePassword.ChangePasswordVm
<div class="row">
    <form id="frmsubmit" class="form-horizontal" asp-controller="Profile" asp-action="ChangePassword" enctype="multipart/form-data">
 <div class="col-md-12">
        @Html.ValidationSummary()
 </div>
    <div class="col-md-12">
        <div class="form-group row">
             @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-4 col-form-label" })
              <div class="col-sm-8">
                   @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-sm" })
              </div>
        </div>
        </div>
    <div class="col-md-12">
         <div class="form-group row">
             @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 col-form-label" })
              <div class="col-sm-8">
                   @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-sm" })
              </div>
        </div>
    </div>
    <div class="col-md-12">
         <div class="form-group row">
             @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 col-form-label" })
              <div class="col-sm-8">
                   @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm" })
              </div>
        </div>
         </div>
    <div class="col-md-12">
         <div class="form-group row">
            <div class="card-footer clearfix">
                  <input type="submit" class="btnSubmitOrder btn btn-sm btn-primary" name="save" value="Save"/>
            </div>
        </div>
     </div>
     </form>
</div>

